
body{
  background-color: #Eae9eb;
}



.header {
  display: flex;
  background-color: rgb(85, 85, 85, 0.6);
  height: 50px;
  margin-top: -1%;
  }

.logo {
  display: flex;
  margin-left: 3%;
  padding: 10px;
  
}

.logo h5{
margin-top: -1px;
margin-left: 10%;

}



.list ul {
 
  display: flex;
  list-style: none;
  margin-left: 85%;
  margin-top: 1%;
}
li {
  padding: 0px 27px;
  height: 40px;
  padding-top: 20px;
}

.premium {
  color: white;
  margin-left: 5%;
  padding: 40px;
}
.premium h2 button{
  background-color: #F19201;
  border: none;
  margin-top: 5%;
  width: 90px;
  height: 23px;
  color: white;

}
  
 .section1 {
  background-image: url("images/image2.png");
  background-size: cover;
  height: 400px;
}

.service {
  text-align: center;
}


#Order {
  display: flex;
  margin-left: 21%;
  height: 200px;
  }
  
  .one {
    border: solid grey;
    text-align: center;
    margin: 1%;
    background-color: white;
    width: 230px;
    }
  
  .BTN {
    background-color: #F19201;
    font-size: 30px;
    color: white;
    border-radius: 50% ;
    margin-top: 7%;
    border: none;
    height: 40px;
    width: 40px;
  }

  .section3{
    display: flex;
    padding-top: 10%;
  }

  #wood {
    text-align: center;
  }

  .Food {
    border: solid grey;
    display: flex;
    margin: 3%;
    margin-top: -2px;
    padding: 2%;
    background-color: white;
   
  }
  #menu1 {
    display: flex;
    
  }
  #menu2 {
    display: flex;
  }
  .Menu{
  margin-left: 20%;
  padding-top: 60px;
  }
  .meal {
  padding-left: 4%;
  margin-top: -8%;
  }
  .section4{
    margin-top: 5%;
  }