
body{
  background-color: #Eae9eb;
}



.header {
  display: flex;
  background-color: rgb(85, 85, 85, 0.6);
  height: 50px;
  margin-top: -1%;
  }

.logo {
  display: flex;
  margin-left: 3%;
  padding: 10px;
  
}

.logo h5{
margin-top: -1px;
margin-left: 10%;

}



.list ul {
 
  display: flex;
  list-style: none;
  margin-left: 85%;
  margin-top: 1%;
}
li {
  padding: 0px 27px;
  height: 40px;
  padding-top: 20px;
}